@import url(https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: prompt;
  line-height: 1.5;
  background-color: #464e54;

  background-image: url(https://images.wallpapersden.com/image/download/guts-art-berserk-hd_bWlqZmeUmZqaraWkpJRnZ2VtrWZrZWU.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}
/* Header */
header {
  text-align: center;
  padding: 10px 20px;
  background-color: #8d8e88;

  display: block;
  /* margin: 5px auto; */
  width: fit-content;

  border: 2px dashed #31323b;
  border-radius: 15px;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  top: 10px;

  box-shadow: #31323b80 2px 4px;
}
h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #eff1ec;
}
.list-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-menu li {
  background: linear-gradient(135deg, #8f534d, #942c22);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  transition: transform 0.3s ease;
}
.list-menu li:hover {
  transform: translateY(-5px);
}
.list-menu a {
  text-decoration: none;
  color: rgb(252, 252, 252);
  font-weight: bold;
}
.list-menu a:hover {
  color: #464e54;
}
/* Body */
.container {
  max-width: 1000px;
  margin: 100px auto 40px;
}
/* Myinfo */
.card-myinfo {
  background-color: #31323b;
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 15px;
  border-top: 4px solid #797b8b;
  color: white;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.img-me {
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: #464e54 dashed 2px;
}
.lit-info {
  text-align: start;
  padding-top: 20px;
}
.contact {
  text-align: start;
  padding-top: 20px;
}
.facebook {
  width: 20px;
  height: auto;
  border-radius: 2px;
}
/* Card 1 */
h2 {
  color: white;
  font-size: 20px;
  font-weight: 400;
  background: linear-gradient(100deg, #31323b, #797b8b);
  max-width: fit-content;
  padding: 3px 6px;
  margin-bottom: 4px;
  border-radius: 5px;
  box-shadow:
    #31323b 2px,
    4px;
}
.card {
  background: linear-gradient(135deg, #4a4a4a, #8d726d);
  border-radius: 15px;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(4, 8fr);

  align-items: start;
  justify-content: start;
  padding: 5px 10px;

  box-shadow: 2px 1px rgba(245, 245, 245, 0.562);
}
.grade {
  white-space: nowrap;
  background-color: rgba(128, 128, 128, 0.541);
  margin: 1px;
  padding: 2px;
  border-radius: 5px;
}
code {
  background: gray;
  padding: 2px;
  border-radius: 2px;
}
.course {
  display: grid;
  grid-template-columns: repeat(1, 8fr);
  padding: 5px;
}
.sumgrade {
  display: flex;

  text-align: center;
  white-space: nowrap;
  gap: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-left: #464e54 solid 2px;
  color: #f7f7f9;
}
.note {
  margin-left: 2px;
}
.h-grade {
  text-align: center;
  background-color: #8f534d;
  border-radius: 5px;
  color: #ffffff;
}
/* Card 2 */
.c2 {
  margin-top: 50px;
}
/* Card 3 */
/* Card 4 */
.grade-red {
  color: #92332a;
  white-space: nowrap;
  background-color: rgba(128, 128, 128, 0.541);
  margin: 1px;
  padding: 2px;
  border-radius: 5px;
}

/* Footer */
footer {
  text-align: center;
  color: white;
  background: linear-gradient(100deg, #8f534d, #9b7863);
  display: block;
  width: fit-content;
  justify-content: center;
  margin: auto;
  padding: 2px 4px;
  border-radius: 15px;
}
/* เพิ่มเติม */
.card.module-1 {
  border-left: 5px solid#f7f7f98e;
}
.card.module-2 {
  border-left: 5px solid#9A9499;
}
.card.module-3 {
  border-left: 5px solid#BDADA7;
}
.card.module-4 {
  border-left: 5px solid#7D8485;
}
