/* Global CSS Styles */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Prompt";
  line-height: 1.6;
  background-color: #ff986a;
}

html {}

/* Container */
.container {
  max-width: 1200px;
  margin: 200px auto 40px;
}

/* Share Css */
code {
  background-color: lightgray;
  border-radius: 5px;
  padding: 1px;
}

pre {
  background-color: rgb(212, 204, 204);
  border-left: 4px solid #D25353;
  border-radius: 5px;
  padding: 15px;
}

.badge {
  background-color: rgba(74, 107, 206, 0.393);
  color: rgb(46, 28, 205);
  font-size: 16PX;
  padding: 1px;
  border-radius: 5px;
  vertical-align: middle;
}

.card {
  background-color: #F9F8F6;
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 15px;
  border-top: 4px solid #F08787;
}

/* สีหัว card แยกตามข้อ */
.card.module-1 {
  border-top: solid #f6f3c2;
}

.card.module-2 {
  border-top: solid #f6f3c2;
}

.card.module-3 {
  border-top: solid #f6f3c2;
}

.card.module-4 {
  border-top: solid #f6f3c2;
}

.card.module-5 {
  border-top: solid #f6f3c2;
}

/* Group 1 : header Styles */
header {
  background-color: #f6f3c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 5px 5px 10px gray;

  position: fixed;
  top: 0;
  width: 100%;
}

.list-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.list-menu li {
  background-color: #f16d34;
  padding: 8px 15px;
  border-radius: 50%;
  margin-top: 10px;
}

.list-menu li:hover {
  background-color: #ff986a;
}

.list-menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: #F08787;
}

/* Group2 */
/* Group3 */
/* Group4 */
/* Group5 */
/* Group6 */
/* Group7 */
/* Group8 */
/* Group9 */
/* Group10 */
.note {
  color: rgb(112, 112, 112);
  border-left: solid #3b3b3b;
  padding-left: 2px;
}